const path = require('path');
const HtmlWebpackPlugin = require('html-webpack-plugin');

module.exports = {
  // Ponto de entrada da aplicação.
  entry: './src/js/main.js',
  
  // Opções de saída para os arquivos compilados.
  output: {
    filename: 'js/[name].[contenthash].js',
    path: path.resolve(__dirname, 'dist'),
    clean: true, // Limpa a pasta dist a cada nova compilação.
  },
  
  // Regras para processar diferentes tipos de arquivos.
  module: {
    rules: [
      {
        // Processa arquivos CSS.
        test: /\.css$/,
        use: ['style-loader', 'css-loader'],
      },
      {
        // Processa arquivos JS.
        test: /\.js$/,
        exclude: /node_modules/,
        use: {
          loader: 'babel-loader', // Use se você configurar o Babel para transpilação.
          options: {
            presets: ['@babel/preset-env'],
          },
        },
      },
    ],
  },
  
  // Plugins para estender as funcionalidades do Webpack.
  plugins: [
    // Gera o arquivo index.html na pasta dist e injeta os scripts compilados.
    new HtmlWebpackPlugin({
      template: './src/index.html', // Usa este arquivo como template.
      filename: 'index.html',
    }),
  ],
  
  // Configurações para o servidor de desenvolvimento.
  devServer: {
    static: {
      directory: path.join(__dirname, 'public'), // Serve arquivos estáticos da pasta public.
    },
    compress: true,
    port: 3000, // Porta do servidor de desenvolvimento.
    open: true, // Abre o navegador automaticamente.
    historyApiFallback: true,
    proxy: {
      // Redireciona todas as requisições para /api para o backend Flask.
      '/api': {
        target: 'http://localhost:5000',
        changeOrigin: true,
        pathRewrite: { '^/api': '/api' },
      },
    },
  },
  
  // Define o modo de compilação.
  mode: 'development',
};
